<!-- "$Id: foot.tmpl 517 2002-08-14 19:48:47Z archie $" -->
<br>
<br>
<p>
<center>
<font size="-1">
<em>Copyright &copy; 2002 Packet Design, LLC. All rights reserved.</em>
</font>
</center>
</body>
</html>
